

body{ background:url(../images/bg_small.jpg)}
.time_txt{ padding:0px 0px 0px 0px; width:459px; background-image: url(../images/timetap_bg1.png);}
.hand{ padding:10px 0px 0px 0px;}
.sub_container{width: 459px;}
.strip{ background:url(../images/Strip.png) ; height:2px;margin: 10px 0px 0px 0px;}
.f_btn{display:block;}

.btn_n { background-image: url(../images/sigout_button_small.png); width:116px; height:61px; font-size:18px;}

.anch{height: 66px;
padding-top: 25px;}
.fault {
margin-left: 32px;
}

#main{ background:url(../images/br_680.jpg);background-size: 100%;}
.user_txt{ font-size:18px;}
.signout_btn{ background-image: url(../images/sigout_button_small.png); width:116px; height:61px; font-size:18px;}
.faulty{background-image: url(../images/sigout_button_small.png); width:116px; height:61px; font-size:18px;}
.in_queue{font-size:14px;}
.customer_txtbox{width: 150px;height: 57px; float:none}


.customer{ width:276px;}
.margin_btn {
float: none;
margin-top: 10px !important;
}
.new_area_1{ width:59px;}